<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Клиенты</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="bloki/header :: header"></header>
<main>
    <div class="container mt-5">
        <h1>Список клиентов</h1>
        <div class="container mt-5 mb-5">
            <form action="/klient" method="post">
                <input type="text" name="FIO" placeholder="ФИО" class="form-control"><br>
                <input type="text" name="mail" placeholder="почта" class="form-control"><br>
                <input type="text" name="phone" placeholder="телефон" class="form-control"><br>
                <input type="text" name="passport" placeholder="паспорт" class="form-control"><br>
                <button type="submit" class="btn btn-success">добавить</button>
            </form>
        </div>

        <table>
            <tr>
                <th>ФИО</th>
                <th>почта</th>
                <th>телефон</th>
                <th>паспорт</th>
            </tr>
            <tr th:each="el : ${klients}" >

                 <th th:text="${el.FIO}"></th>
                <th th:text="${el.mail}">почта</th>
                <th th:text="${el.phone}">телефон</th>
                <th th:text="${el.passport}">паспорт</th>
                    <th><button type="submit" class="btn btn-success">удалить</button></th>
                    <th><button type="submit" class="btn btn-success" value="">редактировать</button></th>

            </tr>
        </table>

    </div>


</main>

</body>
</html>